@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
  }

  .main-gradient-to-bottom {
    background: linear-gradient(
      to bottom,
      rgba(254, 125, 60, 0) 80%,
      rgba(254, 125, 60, 0.25) 85%,
      rgba(254, 125, 60, 0.5) 90%,
      rgba(254, 125, 60, 0.75) 95%,
      rgba(254, 125, 60, 1) 100%
    );
  }

  .main-mb-gradient-to-bottom {
    background: linear-gradient(
      to bottom right,
      rgba(254, 125, 60, 1) 0%,
      rgba(254, 125, 60, 0.75) 50%,
      rgba(254, 125, 60, 0.5) 75%,
      rgba(254, 125, 60, 0.25) 100%
    );
  }

  .boss-image {
    background-image: url("https://d22suaf3v2qshw.cloudfront.net/about_restaurant_bosses01.jpg");
  }

  .photogallery {
    background-image: url("https://d22suaf3v2qshw.cloudfront.net/photo_restaurant_background.jpg");
  }

  .no-scroll {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
