@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .my-gradient {
    background: linear-gradient(
      to bottom,
      rgba(254, 107, 37, 0) 75%,
      rgba(254, 107, 37, 0.25) 80%,
      rgba(254, 107, 37, 0.5) 90%,
      rgba(254, 107, 37, 0.75) 95%,
      rgba(254, 107, 37, 1) 100%
    );
  }

  .next,
  .prev {
    top: calc(50% - 20px);
    position: absolute;
    background: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
  }

  .next {
    right: 10px;
  }

  .prev {
    left: 10px;
    transform: scale(-1);
  }
}
