@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Murecho:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
  }

  .main-gradient-to-bottom {
    background: linear-gradient(
      to bottom,
      rgba(254, 125, 60, 0) 80%,
      rgba(254, 125, 60, 0.25) 85%,
      rgba(254, 125, 60, 0.5) 90%,
      rgba(254, 125, 60, 0.75) 95%,
      rgba(254, 125, 60, 1) 100%
    );
  }

  .main-mb-gradient-to-bottom {
    background: linear-gradient(
      to bottom right,
      rgba(254, 125, 60, 1) 0%,
      rgba(254, 125, 60, 0.75) 50%,
      rgba(254, 125, 60, 0.5) 75%,
      rgba(254, 125, 60, 0.25) 100%
    );
  }

  .boss-image {
    background-image: url("https://norisang-project.s3.ap-northeast-1.amazonaws.com/about_restaurant_bosses01.jpg");
  }

  .photogallery {
    background-image: url("https://norisang-project.s3.ap-northeast-1.amazonaws.com/photo_restaurant_background.jpg");
  }
}
